<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="text-center mb-4">ðŸŽµ ãƒ¦ãƒ¼ã‚¶ãƒ¼ç™»éŒ²</h1>
      
      <%= form_with model: @user, local: true do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <ul class="mb-0">
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= f.label :email, 'ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹', class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <%= f.label :password, 'ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰', class: "form-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <%= f.label :password_confirmation, 'ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ç¢ºèª', class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        
        <div class="d-grid">
          <%= f.submit "ç™»éŒ²", class: "btn btn-primary" %>
        </div>
      <% end %>
      
      <div class='text-center mt-3'>
        <%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³ã¯ã“ã¡ã‚‰', login_path %>
      </div>
    </div>
  </div>
</div>
