<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="text-center mb-4">ðŸŽ¶ ãƒ­ã‚°ã‚¤ãƒ³</h1>
      
      <%= form_with url: login_path, local: true do |f| %>
        <div class="mb-3">
          <%= f.label :email, 'ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹', class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <%= f.label :password, 'ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰', class: "form-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        
        <div class="d-grid">
          <%= f.submit "ãƒ­ã‚°ã‚¤ãƒ³", class: "btn btn-primary" %>
        </div>
      <% end %>
      
      <div class='text-center mt-3'>
        <%= link_to 'æ–°è¦ç™»éŒ²ã¯ã“ã¡ã‚‰', new_user_path %>
      </div>
    </div>
  </div>
</div>