<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "MeloLog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <% if @post&.persisted? && @post.song %>
      <meta property="og:title" content="MeloLogを投稿したよ！ #MeloLog <%= @post.song.title %> - <%= @post.song.artist %>">
      <meta property="og:description" content="<%= @post.memory_text.to_s.truncate(80) %>">
      <meta property="og:image" content="<%= @post.song.album_art_url %>">
      <meta property="og:url" content="<%= post_url(@post) %>">
      <meta property="og:type" content="article">
    <% end %>
  </head>

  <body class="bg-gray-900 text-gray-100 min-h-screen flex flex-col">
    <div class="relative z-50">
      <%= render 'shared/header' %>
    </div>

    <% if notice %>
      <div class="bg-green-500 text-white text-center py-2">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="bg-red-500 text-white text-center py-2">
        <%= alert %>
      </div>
    <% end %>

    <main class="flex-grow relative">
      <%= yield %>
    </main>
    
    <%= render 'shared/footer' %>
  </body>
</html>
